{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block content %}


<!-- </div> -->
<div class="container col-md-10 border bg-white"> 
  
          <h4 class="card-title text-center">Settings!</h4>
          <div class="bline2"></div>
            <form method="POST" class="form-signin">
              {% csrf_token %}

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon3">Model Name</span>
                </div>
                <input class="form-control" type="text" name="name_input" value="{{ fc4 }}">
                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon3">Shortcode: [#modelname#]</span>
                </div> 
              </div>

              
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon3">Link-1:</span>
                </div>           
                   <input class="form-control" type="text" name="link1_input" value="{{ fc7 }}">
                   <div class="input-group-append">
                     <span class="input-group-text" id="basic-addon3">Shortcode: [#link1#]</span>
                   </div> 
              </div>


              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon3">Link-2:</span>
                </div>             
                 <input class="form-control" type="text" name="link2_input" value="{{ fc8 }}">
                 <div class="input-group-append">
                   <span class="input-group-text" id="basic-addon3">Shortcode: [#link2#]</span>
                 </div> 
              </div>


              <!-- dummy========== -->

              <div>
                <fieldset disabled>
                  <div class="form-group">
                    <label for="disabledTextInput">Arc-Sign Option:</label>
                    <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input">
                  </div>
                  <div class="form-group">
                    <label for="disabledSelect">Keys</label>
                    <select id="disabledSelect" class="form-control">
                      <option>DMARC/DKIM/SPF keys</option>
                    </select>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="disabledFieldsetCheck" disabled>
                    <label class="form-check-label" for="disabledFieldsetCheck">
                      Turn Off If Key Not Found
                    </label>
                  </div>
                  <button type="submit" class="btn btn-light">Check Now</button>
                </fieldset>
              </div>

              <!-- dummy======== -->


              <h4 class="card-title text-center">MotherMail Settings! (please contact)</h4>
              <div class="bline2"></div>
             
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Email:</label>
                  <input type="email" name="emaill_input" value="{{ fc5 }}" class="form-control" id="inputEmail4" placeholder="Email">
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPassword4">Password:</label>
                  <input type="password" name="pass_input" value="{{ fc6 }}" class="form-control" id="inputPassword4" placeholder="Password">
                </div>
              </div>


              <div class="form-row">
                <div class="form-group col-md-9">
                  <label for="inputCity">Host:</label>
                  <input type="text" name="imap_input" value="{{ fc2 }}" class="form-control" id="inputCity">
                </div> 
                <div class="form-group col-md-3">
                  <label for="inputZip">Port:</label>
                  <input type="number" name="port_input" value="{{ fc3 }}" class="form-control" id="inputZip">
                </div>
              </div>


              
              <br>
              <button class="btn btn-info" type="submit">Update Settings!</button>
            </form><br/>

 
      
</div>






  <small class="blockquote-footer">
    users cofigratns: 'nrdelay': '1d', 'host_con'   users cofigratns: {'host': 'connect.hmailserver.com', 'connect': 'mail.hmailserver.com', 'ttl': '5050', 'name': 'retive', 'emaill': 'mail@hmailserver.com', 'connect': 'Jenniea08', 'delay': '5', 'nrdelay': '1d', 'host_con': 'ok', 'mail2@hmailserver.gq': 'notok', 'simdail.com': ' ok'}
  </small>

{% endblock %}