{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid">
    <div class="content-section" style="padding-left: 70px">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Email Template Editor:</legend>
                <div>Availabe Shortcodes: [#username#] [#modelname#] [#link1#] [#link2#] </div>
                {{ form.media }}
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-info active" type="submit">Submit Changes!</button>
            </div>
        </form>
    </div>
</div>



<script>
document.getElementById("id_subject").setAttribute('style','width:835px');
document.getElementById("id_delay").setAttribute('style','width:200px');
document.getElementById("div_id_model_pic_1").setAttribute('style','background-color: #eff3f9; width:835px; padding: 11px 11px 11px 11px; border-bottom: 4px solid #5f728e;');
document.getElementById("div_id_model_pic_2").setAttribute('style','background-color: #eff3f9; width:835px; padding: 11px 11px 11px 11px; border-bottom: 4px solid #5f728e;');
document.getElementById("div_id_model_pic_3").setAttribute('style','background-color: #eff3f9; width:835px; padding: 11px 11px 11px 11px; border-bottom: 4px solid #5f728e;');
document.getElementById("div_id_model_pic_4").setAttribute('style','background-color: #eff3f9; width:835px; padding: 11px 11px 11px 11px; border-bottom: 4px solid #5f728e;');
document.getElementById("div_id_model_pic_5").setAttribute('style','background-color: #eff3f9; width:835px; padding: 11px 11px 11px 11px; border-bottom: 4px solid #5f728e;');
document.getElementById("div_id_model_pic_6").setAttribute('style','background-color: #eff3f9; width:835px; padding: 11px 11px 11px 11px; border-bottom: 4px solid #5f728e;');
</script>

{% endblock content %}
